<% layout('layout/boilerplate', {title}) %>

<h1>Todo</h1>

<form action="/todos/add-todo" method="POST">
  <input type="text" name="todo" placeholder="Enter todo">
  <button>Add</button>
</form>

<ul class="todo-list">
<% todos.forEach(function(todo) { %>
  <li class="todo-item">
    <p contenteditable="true" data-id="<%= todo._id %>"><%= todo.title %></p>
  </li>
<% }); %>

</section>

<script nonce="<%= nonce %>">
  document.querySelectorAll('.todo-item p').forEach(function(p) {
    p.addEventListener('blur', function(event) {
      const id = event.target.getAttribute('data-id');
      const updatedTitle = event.target.textContent.trim();

      console.log(updatedTitle);
      fetch('/todos/edit-todo', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: id, title: updatedTitle }),
      })
      .then(response => response.json())
      .then(data => {
        // Handle response
        console.log(data);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  });
</script>