<div class="card">
  <div class="card-header">
    <%= header %>
  </div>
  <div class="card-body">
    <img src="<%= src %>">
    <%- children  %>
    <p class="card-text"><%= body %></p>
  </div>
</div>