.pokemon-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 150px;
  height: 200px;
  border-radius: 12px;
}

.card-header {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

}
.card-body img {
  width: 100px;
  height: 100px;
}

.test {
  color: red;
}